<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="CookBookConnectionString1" connectionString="Data Source=DESKTOP-B5SA0JC\SATNAM;Initial Catalog=CookBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <pages  theme="Blue"></pages>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <!--<system.webServer>
<staticContent>
       <remove fileExtension=".svg" />
       <remove fileExtension=".eot" />
       <remove fileExtension=".woff" />
       <mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
       <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
       <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
       <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
       <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
</system.webServer>-->
</configuration>
