.services section {
    text-align: center;
    font-size: 16px;
    color: black;
}

.formtext {
    font-size: 18px;
}

mark, .mark {
    background-color: #fcf8e3;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.text {
    color: black;
}

.navbarbutton {
    padding-top: 9px;
}

#color {
    background-color: #6cc644;
    background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
    background-image: linear-gradient(#91dd70, #55ae2e);
    border: 1px solid #5aad35;
}

.Cancel {
    background-color: lightcoral;
    background-image: -webkit-linear-gradient(lightcoral, #c83c0c);
    background-image: linear-gradient(lightcoral, #c83c0c);
    border: 1px solid #c83c0c;
    color: white;
}

.Submit {
    background-color: #6cc644;
    background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
    background-image: linear-gradient(#91dd70, #55ae2e);
    border: 1px solid #5aad35;
    color: white;
}

.pad {
    padding-bottom: 20px;
}

.padd {
    padding-top: 30px;
}

.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important;
}
